body {
    background-image: url(../assets/931294.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Space Mono",
        sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 500px auto;

}

section {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 2px dotted black;
    background-color: rgb(52, 109, 71);
}

header {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 80px;
    font-size: 2em;
    position: relative;
    left: 30px;

}

.input-1 {
    margin: 20px;
    height: 30px;
    border: 1px solid black;
    font-family: "Space Mono",
        sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-2 {
    margin: 20px;
    height: 30px;
    border: 1px solid black;
    font-family: "Space Mono",
        sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    color: black;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.addition {
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    font-size: 1.25em;
}

.subtraction {
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    font-size: 1.25em;
}

.multiplication {
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    font-size: 1.25em;
}

.division {
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    font-size: 1.25em;
}

.operator-btn:hover,
.operator-btn:focus {
    background-color: lightblue;
}

.equals {
    margin: 20px;
    font-family: "Space Mono",
        sans-serif;
    font-size: 1.25em;
}

.answer {
    font-family: "Space Mono",
        sans-serif;
    background-color: white;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    height: 30px;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    margin: 20px;
    font-family: "Space Mono", sans-serif;

}